/* Move down content because we have a fixed navbar that is 50px tall */
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body {

  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar {
	
}

#jump {
	right: 1150px;
}

.container table{
	border-radius: 10px;
    border: 2px green; 
}


.container td{
	border-radius: 10px;
	border: 2px solid yellow; 
	padding: 6px;
}

.container th{
	border-radius: 10px;
	border: 2px solid yellow; 
}


.jumbotron {
	margin-bottom: 0px
}

.jumbotron h1 {

	display: inline;

	position: relative;

	font: 100px Helvetica, Sans-Serif;

	letter-spacing: -5px;

	color: rgba(0,180,200,0.45); 

}

.jumbotron h1:after {
	content: "FRESHness";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.35);   
}

.jumbotron h1 {
	font-size: 100px;
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron h2{
	padding-top: 150px
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;

}
/* .jumbotron means all things inside jumbotron, then text-align centers it*/

/* unordered list in the class of nav, aka changing the buttons top right */
ul.nav {
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
}
/* makes the "One Million Lines" be the same font*/
.navbar-header a {
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
}

.shop-online hr{
	border-color: #006699;
	width: 20%;
	margin-top: 5px;
}

.shop-online {
	text-align: center;
	margin: 0px;
	width:1440px;
}

	.shop-online h3, h2{
	color: #006699;
	font-family: "Indie Flower";
	}

	.shop-online h2:hover{
		color:#003399;
	}

/* makes the red button be font size 24 instead of 18*/
.btn-lg {
	font-size: 36px;
}


.fa-stack { cursor: pointer; cursor: hand;}
#pryde-litproducedbyjoeycastellani-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#ajpFSMrgdx5A-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#aTU8kJWkgoNw-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#alR30e86TxK4-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#a6IBKpJ7sy4k-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#genesis-sharpsidemydebutepirespectallfeedbackfromthisgreathiphopcommunity-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#aS-0D-aj6tBU-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#aJoDCMgw7pPg-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#agJLIiF15wjQ-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#steezen-thetouristchattanoogabasedrapper-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#47-nosodaftdirtysanchez-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#zico-myteamkorean-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
