/* Move down content because we have a fixed navbar that is 50px tall */
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body {

  padding-top: 0px;
  padding-bottom: 0px;
}
/*
div#commentForm {
      margin: 0px 20px 0px 20px;
      display: none;
} 
*/

.container table{
    border: 2px solid yellow; 
}


.container td{
	border: 2px solid yellow; 
	padding: 6px;
}

.container th{
	border: 2px solid yellow; 
}

/*Tentative until the randomizer is pretty */

.jumbotron h1 {

	display: inline;

	position: relative;

	font: 100px Helvetica, Sans-Serif;

	letter-spacing: -5px;

	color: rgba(0,180,200,0.45); 

}

.jumbotron h1:after {

	content: "FRESHness";

	position: absolute; left: 10px; top: 5px;

	color: rgba(255,0,0,0.35);   

}

#frame1 {
	height: 166px;
	overflow: hidden;
	-moz-transition: all .5s linear;
	-webkit-transition: all .5s linear;
	o transition: all .5s linear;
	transition: all .5s linear;
}
