/* Move down content because we have a fixed navbar that is 50px tall */
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body {

  padding-top: 0px;
  padding-bottom: 0px;
}


.container table{
    border: 2px solid yellow; 
}


.container td{
	border: 2px solid yellow; 
	padding: 6px;
}

.container th{
	border: 2px solid yellow; 
}

/*Tentative until the randomizer is pretty */

.jumbotron h1 {

	display: inline;

	position: relative;

	font: 100px Helvetica, Sans-Serif;

	letter-spacing: -5px;

	color: rgba(0,180,200,0.45); 

}

.jumbotron h1:after {

	content: "FRESHness";

	position: absolute; left: 10px; top: 5px;

	color: rgba(255,0,0,0.35);   

}

.fa-stack { cursor: pointer; cursor: hand;}
#a06koEdJiwZg-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#a0AMRP9JTHlw-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#avgrAnmMjUD8-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#curreny-papersbounceprodbysledgrencjbampdreamer-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#aPuvFHe1XUE8-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#a0AMRP9JTHlw-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#a4mWh2NdVmDE-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#axnXtY5_djjI-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#atQ7Qb7Sfs0I-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#aNY63DD82rlw-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#meridiandan-thebits-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#akllian-theatticparti-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#denzelcurry-captainseafonk-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#loylecarner-tierneyterrace-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#apBqOFMaIpHc-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
#avgrAnmMjUD8-frame { height: 0px; overflow: hidden; transition: all .5s linear; }
